@font-face {
  font-family: "iconfont"; /* Project id 3938952 */
  src: url('iconfont.woff2?t=1681710771138') format('woff2'),
       url('iconfont.woff?t=1681710771138') format('woff'),
       url('iconfont.ttf?t=1681710771138') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e661";
}

.icon-add:before {
  content: "\e607";
}

.icon-up:before {
  content: "\e6ca";
}

.icon-down:before {
  content: "\e618";
}

.icon-blog:before {
  content: "\e600";
}

.icon-delete:before {
  content: "\e643";
}

.icon-setting:before {
  content: "\e646";
}

.icon-specil:before {
  content: "\e6c9";
}

.icon-account:before {
  content: "\e609";
}

.icon-password:before {
  content: "\e65d";
}

